*{
    margin: 0;
    padding: 0;
}

h1{
    
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}

header{
    background-color: green;
}
footer{
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
}
address{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
